fastapi==0.100.0
uvicorn==0.22.0
sentence-transformers==3.4.1
pydantic==2.0.2
numpy==1.26.4
scikit-learn==1.4.1.post1
transformers==4.48.1
python-multipart==0.0.6
huggingface-hub==0.28.0
torch==2.1.0+cu118
torchvision==0.16.0+cu118
torchaudio==2.1.0+cu118
scipy==1.13.0
setuptools==58.2.0
nltk
einops
